html {
    font-size: 15px; /* px means "pixels": the base font size is now 10 pixels high  */
    font-family: 'Gowun Batang', serif; /* this should be the rest of the output you got from Google fonts */
    background-color: #C8DEDE;
    /* overflow: hidden; */
  }

h1 {
    margin: 0;
    padding: 20px;
    font-size: 60px;
    text-align:'center';
  }


p,li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
  }

body{
    width: 600 px;
    margin: 0 auto;
    background-color: #c0d6d6;
    padding: 15px; 
}

header {
  grid-area: header;
  background-color: #9ec7c7;
  border-radius: 25px;
  padding: 5px;
  border: 2px solid black;
  }

main {
  grid-column: main;
  background-color: #9ec7c7;
  border-radius: 25px;
  border: 2px solid black;
  }
  
  aside {
  grid-row: sidebar;
  background-color: #9ec7c7;
  border-radius: 25px;
  border: 2px solid black;
  }
  
  footer {
  grid-column: footer;
  background-color:#014d52;
  width: 100%;
  left: 0;
  bottom: 0;
  text-align: center;
  color: white;
  padding: 10px;
  border-radius: 25px;
  border: 2px solid black;
  }



.wrapper {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-areas: 
      "header header"
      "sidebar main"
      "sidebar footer";
grid-gap: 1rem;
}

@media screen and (max-width: 900px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "header"
        "sidebar"
        "main"
        "footer";
  grid-gap: 1rem;
  }
}

@media screen and (max-width: 900px) {
  header {
    grid-area: header;
    background-color: #1aac3f;
    border-radius: 25px;
    padding: 5px;
    border: 2px solid black;
    }
}



.header a {
  float: right;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}


.nav > ul {
  list-style: none;
  text-align: right;
} 

.nav > ul > li {
  display: inline-block;
}


input{
  width: 50%;
  padding: 0.5rem;
  font-size: 16px;
  /* float: left; */
}

.main-list {
  list-style: none;
}


.main-list  > li {
  cursor: pointer;
  background: rgb(202, 209, 209);
  position: relative;
  padding: 0px 8px px 40px;
}

.main-list  > li:nth-child(odd) {
  background: #dce4e4;
}

.main-list  >  li:hover {
  background: rgb(136, 158, 156);
}

/* .main-list  >  li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

.main-list  >  li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
} */

.addBtn {
  padding: 0.5rem;
  width: 5%;
  background: rgb(230, 209, 210);
  color: #555;
  /* float: left; */
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: rgb(233, 153, 157);;
}

.close {
  position: absolute;
  /* background-color: #e9c6c4; */
  right: 0;
  top: 0;
  padding: 0 0.75rem;
  /* padding: 12px 16px 12px 16px; */
}

.close:hover {
  background-color: #f44336;
  color: white;
}

#content {
  margin: 0 auto;
  padding: 0 50px;
}
